
.subheader {
	width: 100%;
	height: 130px;
    line-height: 60px;
    text-align: center;
    text-shadow: 0px 0px 1px #666;
    background: #blue;
    background-image: url("../images/tan-texture-dark.png");
}

.subheader h1 {
	color: #888;
	text-shadow: 1px 1px 0 #FFFEFC;
	padding-top: 20px;
    font-weight: 400;
    font-size: 34px;
}
.subheader .progress {
	width: 860px;
	margin: 20px auto;
	height: 25px;
}
.subheader .progress .bar {
	text-align: right;
	color: #555;
	text-shadow: none;
	padding-right: 10px;
	height: 25px;
	font-size: 15px;
	line-height: 25px;
}
.main-info {
	width: 968px;
	margin: 0 auto;
	height: 500px;
}
.column {
	width: 310px;
	margin: 0 5px;
	border:1px solid #ddd;
	float: left;
	background: #f9f9f9;
	height: 450px;
}
.column .column-header {
	height: 45px;
	background-image: url("../images/tan-texture-dark.png");
    border-bottom: 1px solid #D5D5D5;
}
.column .column-header .title {
	font-weight: 500;
	color: #555;
    height: 44px;
    font-size: 16px;
    line-height: 44px;
    padding: 0 10px;
    text-shadow: 1px 1px 0 #FFFEFC;
}
.column .number {
	background-color: #206CAA;
	font-family: 'Helvetica Neue',​Helvetica,​Arial,​sans-serif;
    background-image: -moz-linear-gradient(center top , #388AC4 0%, #206CAA 100%);
    border: 1px solid #094579;
    border-radius: 16px 16px 16px 16px;
    box-shadow: 1px 1px 1px #509CD0 inset;
    color: #FFFFFF;
    font-size: 16px;
    float: left;
    height: 30px;
    line-height: 30px;
    margin: 6px 10px 0 10px;
    text-align: center;
    text-shadow: -1px -1px 0 #0B426B;
    width: 30px;
}
.column .column-body {
	padding: 10px;
}
.disease {
	width: 145px;
	float: left;
}
.disease label {
	line-height: 20px;
}

.toggler {
	padding: 0px;
	margin-bottom: 15px;
}
.toggler button {
	padding-right: 20px;
}
.help {
	margin-left: 5px;
	border-radius: 8px;
	background: #4552b4;
	color: #eee;
	font-weight: 900;
	padding: 0 5px;
}
.help:hover {
	background: #8991d1;
	padding: 0 5px;
	text-align: center;
}
}