{% extends "info_layout.html" %}

{% block privacy %}active{% endblock %}

{% block info %}

<h1>Privacy Policy</h1>
<h2>Company Statement</h2>
<h3>We think KAYAK is a great place to work. We love travel, and we're working to make finding and booking trips just a little bit simpler every day. We think KAYAK is a great place to work. We love travel, and we're working to make finding and booking trips just a little bit simpler every day.</h3>
<h2>Company Statement</h2>
<h3>We think KAYAK is a great place to work. We love travel, and we're working to make finding and booking trips just a little bit simpler every day. We think KAYAK is a great place to work. We love travel, and we're working to make finding and booking trips just a little bit simpler every day.</h3>

<h2>Company Statement</h2>
<h3>We think KAYAK is a great place to work. We love travel, and we're working to make finding and booking trips just a little bit simpler every day. We think KAYAK is a great place to work. We love travel, and we're working to make finding and booking trips just a little bit simpler every day.</h3>


{% endblock %}